:root {
    --dk-dark: #212529;
    --dk-default: #3B916A;
    --dk-red: #dc3545;
    --dk-table: #2b3035;
    --dk-table-border: #121212;
    --dk-default-rgb: 59, 145, 106;
    --dk-body-color-rgb: 173, 181, 189;
    --dk-body-bg: #fff;
    --dk-text-color: #000;
    --dk-table-bg: #1b1f22;
}

.btn-default {
    --bs-btn-wieght: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--dk-default);
    --bs-btn-border-color: var(--dk-default);
    --bs-btn-border-radius: .5rem;
    --bs-btn-hover-color: var(--vs-white);
}

.bg-default {
    background: var(--dk-default);
    --bs-modal-bg: var(--dk-default);
}

.bg-content {
    background: var(--dk-body-bg);
    --bs-modal-bg: #000;
}

.bg-table {
    background: var(--dk-table);
    color: var(--bs-white);
    border-color: var(--dk-table-border);
}

.text-default {
    color: var(--dk-default);
}

.nav-link.active {
    font-weight: bold;
}

.nav-link {
    color: #fff;
}

.nav-item {
    position: relative;
}

@media only screen and (max-width: 991px) {
    .nav-item.active::after {
        position: absolute;
        top: calc(50% - 14px);
        width: .3rem;
        height: 28px;
        content: "";
        background: #fff;
        border-radius: 25px;
    }

    .nav-item:hover::after {
        position: absolute;
        top: calc(50% - 14px);
        width: .3rem;
        height: 28px;
        content: "";
        background: #fff;
        border-radius: 25px;
    }
}

@media only screen and (min-width: 992px) {
    .nav-item.active::after {
        position: absolute;
        bottom: calc(50% - 20px);
        left: 8%;
        width: calc(100% - 16%);
        height: .25rem;
        content: "";
        background: #fff;
        border-radius: 25px;
    }

    .nav-item:hover::after {
        position: absolute;
        bottom: calc(50% - 20px);
        left: 8%;
        width: calc(100% - 16%);
        height: .25rem;
        content: "";
        background: #fff;
        border-radius: 25px;
    }
}

.table {
    background-color: var(--dk-table-bg);
}

tbody td {
    height: .08em;
    padding: 0 !important;
    margin: 0;
    vertical-align: middle;
}

tbody tr {
    height: .08em;
    padding: 0 !important;
    margin: 0;
    /* background: var(--dk-default); */
}

tbody td.lesson {
    background: var(--dk-default);
    border-radius: .375rem;
    cursor: pointer;
}

tbody td.lesson.cancelled {
    background-image: linear-gradient(
        to top right,
        var(--dk-red) calc(50% - 1.5px),
        var(--dk-dark),
        var(--dk-red) calc(50% + 1.5px)
    );
}

.dropdown-item {
    border-radius: 0.375rem;
}

.dropdown-menu {
    --bs-dropdown-min-width: 8rem;
    --bs-dropdown-padding-x: .25rem;
    --bs-dropdown-padding-y: .25rem;
    --bs-dropdown-link-hover-bg: rgba(var(--dk-default-rgb), .1);
    --bs-dropdown-link-active-bg: rgba(var(--dk-default-rgb), 1);
    --bs-dropdown-font-size: .875rem;
    font-size: .875rem;
    border-radius: .25rem;
    box-shadow: 0 0.5rem 1rem rgba(var(--dk-body-color-rgb), 0.15);
}

.navbar-brand {
    color: #fff;
    transition: .2s ease-in-out transform;
}

.navbar-brand:hover {
    transform: rotate(-3deg) scale(1.1);
}

.lesson {
    color: var(--dk-text-color);
}
